<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.chenbonian.springboot.mapper.EmpMapper">
    <select id="selectAll" resultType="cn.chenbonian.springboot.entity.Emp">
        select
            emp_id empId,emp_name empName,emp_age empAge
        from
            t_emp
    </select>
</mapper>